* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/207/818/non_2x/futuristic-technological-grid-background-digital-futurist-cyber-space-design-cyberpunk-technology-virtual-reality-science-fiction-matrix-science-light-perspective-wallpaper-illustration-free-vector.jpg');
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --progress {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

:root {
  --c1: #6eccee;
  --c2: #f672ca;
  --c3: #fdb428;
  --c4: #b9f;
}

@keyframes progress {
  from {
      --progress: 0%;
  }
  to {
      --progress: 100%;
  }
}

.circle {
  --progress: 60%;
  background: conic-gradient(
      at center,
      var(--c1) var(--progress),
      black var(--progress),
      var(--c2) calc(var(--progress) + 20%),
      var(--c3) calc(var(--progress) + 30%),
      var(--c3) calc(var(--progress) + 50%),
      transparent,
      transparent,
      transparent,
      transparent
  );
  animation: progress 4s linear infinite;
  border-radius: 50%;
  mask: radial-gradient(circle at center, transparent 65%, black 65%);
  position: absolute;
  inset: 0;
}

.circle:nth-child(2) {
  inset: 4vmin;
  animation-delay: 1s;
}

.circle:nth-child(3) {
  inset: 8vmin;
  animation-delay: 0.5s;
}

.containe {
  filter: drop-shadow(0 0 0.8vmin hsla(0, 0, 0%, 1));
  position: relative;
  width: 40vmin;
  aspect-ratio: 1;
}

.containe:after {
  content: "AI-Vision";
  font-weight: bold;
  position: absolute;
  font-size: 2.5vmin;
  inset: 0;
  color: white;
  display: grid;
  place-items: center;
}

.weather-container {
  display: inline-block;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.weather-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-stat {
  margin: 10px;
}

canvas {
  margin-top: 30px;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Inter, "Helvetica Neue", Helvetica, sans-serif;
  background: radial-gradient(
      30% 40% at center,
      hsla(0, 0, 100%, 0.03),
      transparent
  ),
  #111;
  color: var(--c1);
  display: grid;
  place-items: center;
}
